<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/Style.css">
    <link rel="stylesheet" href="~/css/Profile.css" />
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/fullcalendar/main.css">
    <script src="~/lib/fullcalendar/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <partial name=../partials/Header.cshtml />
    <main class="wrapper">
        
        <div>
            @RenderBody()
        </div>
    </main>
    <partial name=../partials/Footer.cshtml />
    <script src="~/js/site.js"></script>


    @if (IsSectionDefined("scripts"))
    {
        RenderSection("scripts");
    }

    <script src="~/js/expander.js"></script>

</body>
</html>