@model Alex_Andersen.Models.User



@{
    Layout = "../Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Login";
}

<img src="/icons/alexandersenLogo.png" alt="Alex Andersen Logo" />
<form asp-action="ProcessLogin">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="UserName">Brugernavn</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserPassword">Adgangskode</label>
        <input asp-for="UserPassword" type="password" />
        <span asp-validation-for="UserPassword"></span>
    </div>
    <div class="form-group">
        <input id="Button" type="submit" value="Log ind" />
    </div>

    <div class="form-group-row">
        <input id="registrerButton" type="submit" value="Ny bruger" />
        <input id="helpButton" type="submit" value="Hjælp" />
    </div>
</form>

