@{
    Layout = "../Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Home Page";
    ViewData["Headline"] = "Oversigt";
    ViewData["Description"] = "Godmorgen Frederik";
}


    <!--Din iganværende tur-->
<div class="accordion">
    <div class="descriptionWrapper">
        <img class="descriptionIcon" src="~/icons/road-solid.svg" />
        <h3 class="accordionDescription ">Din igangværende tur</h3>
    </div>
    
        <button type="button" class="accordionButtonOverview">
            <div class="gridItemDate">
                <div class="itemDateDay">
                    <p class="itemDateDescription">5.</p>
                </div>
                <div class="itemDateMonth">
                    <p class="itemDateDescription">Nov</p>
                </div>
            </div>
            <div class="gridItemTextA">
                <p>Odense - Greve</p>
            </div>

            <div class="gridItemDownArrow">
                <img class="descriptionIcon" src="~/icons/chevron-down-solid.svg" alt="dropDownArrow" />
            </div>
            <div class="gridItemTextB">
                <p>12:00 - 22:00</p>
            </div>
        </button>

        <div class="expanderContent">
            <div class="tripInformation">
                <ul class="tripInformationList">
                    <li class="tripInformationListeditem">Fra:</li>
                    <li class="tripInformationListeditem">Til:</li>
                </ul>
                <ul class="tripInformationList">
                    <li class="tripInformationListeditem">Kontaktperson:</li>
                    <li class="tripInformationListeditem">Afdeling:</li>
                </ul>
            </div>
            <div class="tripCallandMailbutton">
                <button class="tripCall">
                    <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                    <p>Ring</p>
                </button>
                <button class="tripMail">
                    <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                    <p>Mail</p>
                </button>
            </div>
        </div>
</div>


    <!--Dine anmodninger-->
<div class="accordion">
    <div class="descriptionWrapper">
        <img class="descriptionIcon" src="~/icons/comments-solid.svg" />
        <h3 class="accordionDescription ">Dine anmodninger</h3>
    </div>
    <a href="Messages" type="button" class="accordionButtonWithStatusOverview">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>
        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemRequestStatus">
            <p>afvist</p>
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </a>
</div>


    <!--Dine kommende ture-->
<div class="accordion">
    <div class="descriptionWrapper">
        <img class="descriptionIcon" src="~/icons/tasks-solid.svg" />
        <h3 class="accordionDescription ">Mine ture</h3>
    </div>
    <a href="Trips" type="button" class="accordionButtonOverviewTrips">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </a>

    <a href="Trips" type="button" class="accordionButtonOverviewTrips">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </a>
</div>