@{
    Layout = "../Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Oversigt</h1>
    <h2>Godmorgen Helge</h2>
    <div class="roundedBox">
        <button class="bigButton">
            tryk
        </button>
    </div>
    <div class="roundedBox">
        <button class="bigButton">
            tryk
        </button>
    </div>

</div>
