@{
    Layout = "../Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Home Page";
    ViewData["Headline"] = "Oversigt";
    ViewData["Description"] = "Godmorgen Helge";
}

<div class="text-center">


    <div class="roundedBox">
        <div class="descriptionWrapper">
            <img class="descriptionIcon" src="~/icons/road-solid.svg" />
            <h3 class="roundedBoxDescription">Din igangværende tur</h3>
        </div>
        <div class="summaryBox"></div>
    </div>

    <div class="roundedBox">
        <div class="descriptionWrapper">
            <img class="descriptionIcon" src="~/icons/comments-solid.svg" />
            <h3 class="roundedBoxDescription">Dine anmodninger</h3>
        </div>
        <div class="summaryBox"></div>
    </div>

    <div class="roundedBox">
        <div class="descriptionWrapper">
            <img class="descriptionIcon" src="~/icons/tasks-solid.svg" />
            <h3 class="roundedBoxDescription">Dine kommende ture</h3>
        </div>
        <div class="summaryBox">
            <div class="gridItemDate">
                <div>

                </div>
            </div>
            <div class="gridItemTextA">
                <p>placeholder</p>
            </div>
            <div class="gridItemDroparrow">
                
            </div>
            <div class="gridItemTextB">
                <p>placeholder</p>
            </div>
        </div>
    </div>

</div>
