@{
    Layout = "../Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Home Page";
    ViewData["Headline"] = "Oversigt";
    ViewData["Description"] = "Godmorgen Helge";
}

<div class="text-center">


    <!--Din iganværende tur-->
    <div class="roundedBox">
        <div class="descriptionWrapper">
            <img class="descriptionIcon" src="~/icons/road-solid.svg" />
            <h3 class="roundedBoxDescription">Din igangværende tur</h3>
        </div>
        <div class="summaryBoxWithoutStatus">
            <div class="gridItemDate">

            </div>
            <div class="gridItemTextA">
                <p>Placeholder</p>
            </div>
            
            <div class="gridItemDroparrow">
                <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
            </div>
            <div class="gridItemTextB">
                <p>Placeholder</p>
            </div>
        </div>
    </div>


    <!--Dine anmodninger-->
    <div class="roundedBox">
        <div class="descriptionWrapper">
            <img class="descriptionIcon" src="~/icons/comments-solid.svg" />
            <h3 class="roundedBoxDescription">Dine anmodninger</h3>
        </div>
        <div class="summaryBox">
            <div class="gridItemDate">

            </div>
            <div class="gridItemTextA">
                <p>Placeholder</p>
            </div>
            <div class="gridItemRequestStatus">
                <p>afvist</p>
            </div>
            <div class="gridItemDroparrow">
                <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
            </div>
            <div class="gridItemTextB">
                <p>Placeholder</p>
            </div>
        </div>
    </div>


    <!--Dine kommende ture-->
    <div class="roundedBox">
        <div class="descriptionWrapper">
            <img class="descriptionIcon" src="~/icons/tasks-solid.svg" />
            <h3 class="roundedBoxDescription">Dine kommende ture</h3>
        </div>
        <div class="summaryBoxWithoutStatus">
            <div class="gridItemDate">

            </div>
            <div class="gridItemTextA">
                <p>Placeholder</p>
            </div>
            
            <div class="gridItemDroparrow">
                <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
            </div>
            <div class="gridItemTextB">
                <p>Placeholder</p>
            </div>
        </div>
    </div>

</div>
