
@{
    Layout = "../Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Messages";
    ViewData["Headline"] = "Beskeder";
}

<div class="accordion">
    <div class="messageBox">
    <div class="gridItemMessageHeadline">
        <p>Anmodning om tur</p>
    </div>
    <div class="gridItemRequestStatus">
        <p>afvist</p>
    </div>
    <div class="gridItemDownArrow">
        <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
    </div>
    <div class="gridItemCities">
        <p>Odense DK - Aalborg DK </p>
    </div>
</div>
</div>

<div class="accordion">
    <div class="messageBox">
        <div class="gridItemMessageHeadline">
            <p>Anmodning om tur</p>
        </div>
        <div class="gridItemRequestStatus">
            <p>afvist</p>
        </div>
        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemCities">
            <p>Odense DK - Aalborg DK </p>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="messageBox">
        <div class="gridItemMessageHeadline">
            <p>Anmodning om tur</p>
        </div>
        <div class="gridItemRequestStatus">
            <p>afvist</p>
        </div>
        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemCities">
            <p>Odense DK - Aalborg DK </p>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="messageBox">
        <div class="gridItemMessageHeadline">
            <p>Anmodning om tur</p>
        </div>
        <div class="gridItemRequestStatus">
            <p>afvist</p>
        </div>
        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemCities">
            <p>Odense DK - Aalborg DK </p>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="messageBox">
        <div class="gridItemMessageHeadline">
            <p>Anmodning om tur</p>
        </div>
        <div class="gridItemRequestStatus">
            <p>afvist</p>
        </div>
        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemCities">
            <p>Odense DK - Aalborg DK </p>
        </div>
    </div>
</div>