
@{
    Layout = "../Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Messages";
    ViewData["Headline"] = "Beskeder";
}


<div class="popUpMessage">
    <div class="popUpBox">
        <h4>Anmodning om tur</h4>
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <button class="popUpClose">OK</button>
    </div>
</div>


<div class="accordion">
    <div class="messageBox">
        <div class="gridItemMessageHeadline">
            <p>Anmodning om tur</p>
        </div>
        <div class="gridItemRequestStatus">
            <p>afvist</p>
        </div>
        <div class="gridItemCities">
            <p>Odense DK - Aalborg DK </p>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="messageBox">
        <div class="gridItemMessageHeadline">
            <p>Anmodning om tur</p>
        </div>
        <div class="gridItemRequestStatus">
            <p>afvist</p>
        </div>
        <div class="gridItemCities">
            <p>Odense DK - Aalborg DK </p>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="messageBox">
        <div class="gridItemMessageHeadline">
            <p>Anmodning om tur</p>
        </div>
        <div class="gridItemRequestStatus">
            <p>afvist</p>
        </div>
        <div class="gridItemCities">
            <p>Odense DK - Aalborg DK </p>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="messageBox">
        <div class="gridItemMessageHeadline">
            <p>Anmodning om tur</p>
        </div>
        <div class="gridItemRequestStatus">
            <p>afvist</p>
        </div>
        <div class="gridItemCities">
            <p>Odense DK - Aalborg DK </p>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="messageBox">
        <div class="gridItemMessageHeadline">
            <p>Anmodning om tur</p>
        </div>
        <div class="gridItemRequestStatus">
            <p>afvist</p>
        </div>
        <div class="gridItemCities">
            <p>Odense DK - Aalborg DK </p>
        </div>
    </div>
</div>

