@{
    Layout = "../Shared/_MasterLayout.cshtml";
    ViewData["Title"] = "Profile Page";
    ViewData["Headline"] = "Profil";
    ViewData["Description"] = "";
}
<div class="text-center">
    <a href="#"><img class="SettingsIcon" src="~/icons/settings-outline.svg" width="32" height="32" /></a>
    <!--Profile informations-->
    <div class="accordion">
        <div class="ProfileWrapper">
            <div class="ProfileIconWrapper">
                <img class="ProfileIcon" src="~/icons/user-alt-solid.svg" width="62" height="62" />

            </div>
            <div class="ProfileText">
                <h1 style="color:black;">Federik Seksår</h1>
                <p> tlf. +45 50 12 00 12</p>
                <p> Frederikseksår@hotmail.dk</p>

                <a href="#" class="ProfileText EditProfile">
                    Redigér din profil
                </a>
            </div>
        </div>

    </div>
    <!--Profile Locations-->
    <div class="Profilelocation">
        <div class="Profile-Grid-container">
            <div class="Profile-Grid-item">Lokation :</div>
            <div class="Profile-Grid-item preference">Preferencer :</div>
            <div class="Profile-Grid-item-sub">
                <p>Fakevej 43.</p>
                <p>Odense 5000,</p>
            </div>
            <div class="Profile-Grid-item-sub preference">
                <p>Indenrigs <img src="~/icons/check-solid.svg" width="18" height="18" /></p>
                <p>Udensrigs <img src="~/icons/cancel-solid.svg" width="18" height="18" /></p>
            </div>
        </div>
    </div>
    <!--Profile Licenses-->
    <div class="accordion">
        <div class="descriptionWrapper">
            <img class="descriptionIcon" src="~/icons/address-card-solid.svg" />
            <h3 class="accordionDescription">Dine Licenser</h3>
        </div>
        <div class="ButtonLicensesWrapper">
            <button class="ButtonLicenses">AM</button>
            <button class="ButtonLicenses">C1E</button>
            <button class="ButtonLicenses">C1E</button>
            <button class="ButtonLicenses">C1E</button>
            <button class="ButtonLicenses">C1E</button>
            <button class="ButtonLicenses">C1E</button>
        </div>
        <div class="LicenseSigns">
            <p>Førerkort <img src="~/icons/cancel-solid.svg" width="18" height="18" /></p>
            <p>EU-kvalifikationsbevis <img src="~/icons/check-solid.svg" width="18" height="18" /></p>

        </div>
    </div>
    <!--Profile trip history-->
    <div class="accordion">
        <div class="descriptionWrapper">
            <img class="descriptionIcon" src="~/icons/history-solid.svg" />
            <h3 class="accordionDescription">Kørselshistorik</h3>
        </div>
            <button class="accordionButtonWithStatusOverview">
                <div class="gridItemDate">
                    <div class="itemDateDay">
                        <p class="itemDateDescription">5.</p>
                    </div>
                    <div class="itemDateMonth">
                        <p class="itemDateDescription">Nov</p>
                    </div>
                </div>
                <div class="gridItemTextA">
                    <p>Odense - Greve</p>
                </div>

                <div class="gridItemDownArrow">
                    <img class="descriptionIcon" src="~/icons/chevron-down-solid.svg" alt="dropDownArrow" />
                </div>
                <div class="gridItemTextB">
                    <p>12:00 - 22:00</p>
                </div>
            </button>
    </div>
</div>