 @{
        ViewData["Title"] = "Trips";
        ViewData["Headline"] = "Indstillinger";
   }

<h3 class="notifacionsH">Notifkationer</h3>
<div class="notficationsOnOff">
    <p>
        Slå push beskeder til, hvis du vil have besked, når der sker noget i appen.
    </p>
    <label class="switch">
        <input class="signupCheckedSlider" type="checkbox">
        <span class="slider round"></span>
    </label>    
</div>

<button class="logOutButton">Log ud</button>