@{
    ViewData["Title"] = "Trips";
    ViewData["Headline"] = "Dine Ture";

}
<h4>Kommende ture</h4>
<a href="#">vis mere...</a>
<button class="bigButton">
    <div class="date">

    </div>
</button>

<h4>Ledige ture</h4>
<a class="showMore" href="#">vis mere...</a>

<div class="roundedBox">
    <button class="bigButton">
    </button>
</div>