@{
    ViewData["Title"] = "Trips";
    ViewData["Headline"] = "Ture";

}

<!--mine kommende ture-->
<div class="tripsHeadlineWrapper">
    <h2>Mine ture</h2>
    <p><a href="#">Vis alle (6)</a></p>
</div>

<div class="roundedBox">
    <div class="summaryBoxWithoutStatus">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </div>
</div>

<div class="roundedBox">
    <div class="summaryBoxWithoutStatus">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </div>
</div>

<div class="roundedBox">
    <div class="summaryBoxWithoutStatus">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </div>
</div>


<hr />

<!--Ledige ture-->
<div class="tripsHeadlineWrapper">
    <h2>Ledige ture </h2>
    <p><a href="#">Vis alle (6)</a></p>
</div>

<div class="roundedBox">
    <div class="summaryBoxWithoutStatus">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </div>
</div>

<div class="roundedBox">
    <div class="summaryBoxWithoutStatus">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </div>
</div>

<div class="roundedBox">
    <div class="summaryBoxWithoutStatus">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </div>
</div>