@{
    ViewData["Title"] = "Trips";
    ViewData["Headline"] = "Ture";

}

<!--mine kommende ture-->
<div class="tripsHeadlineWrapper">
    <h2>Mine ture</h2>
    <p><a href="#">Vis alle (6)</a></p>
</div>

<div class="accordion">
    <button type="button" class="accordionButton">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <div class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </div>
            <div class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </div>
        </div>
        <button class="deregistrerTripButton" type="submit">Afmeld tur</button>
    </div>
</div>

<div class="accordion">
    <button type="button" class="accordionButton">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <div class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </div>
            <div class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </div>
        </div>
        <button class="deregistrerTripButton" type="submit">Afmeld tur</button>
    </div>
</div>

<div class="accordion">
    <button type="button" class="accordionButton">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <div class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </div>
            <div class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </div>
        </div>
        <button class="deregistrerTripButton" type="submit">Afmeld tur</button>
    </div>
</div>


<hr />

<!--Ledige ture-->
<div class="tripsHeadlineWrapper">
    <h2>Ledige ture </h2>
    <p><a href="#">Vis alle (6)</a></p>
</div>

<div class="accordion">
    <button type="button" class="accordionButton">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <div class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </div>
            <div class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </div>
        </div>
        <button class="registrerTripButton" type="submit">Anmod om tur</button>
    </div>
</div>

<div class="accordion">
    <button type="button" class="accordionButton">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <div class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </div>
            <div class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </div>
        </div>
        <button class="registrerTripButton" type="submit">Anmod om tur</button>
    </div>
</div>


<div class="accordion">
    <button type="button" class="accordionButton">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDroparrow">
            <img class="descriptionIcon" src="~/icons/arrow.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <div class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </div>
            <div class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </div>
        </div>
        <button class="registrerTripButton" type="submit">Anmod om tur</button>
    </div>
</div>
