@{
    ViewData["Title"] = "Trips";
    ViewData["Headline"] = "Ture";

}



<!--overlays-->
<div class="popUpTripRequest">
    <div class="popUpBox">
        <h4>Tak for din anmodning</h4>
        <p>Du vil blive kontaktet, hvis turen bliver godkendt.</p>
        <button class="popUpClose">OK</button>
    </div>
</div>

<div class="popUpCancelTrip">
    <div class="popUpBox">
        <h4>Tak for din anmodning om afmeldelse</h4>
        <p>Du vil blive kontaktet, hvis turen bliver afmeldt</p>
        <button class="popUpClose">OK</button>
    </div>
</div>

<div class="popUpCall">
    <div class="popUpBox">
        <h4>Telefon nr. til din kontaktperson er</h4>
        <p>#</p>
        <button class="popUpClose">OK</button>
    </div>
</div>

<div class="popUpMail">
    <div class="popUpBox">
        <h4>Mail til din kontaktperson er</h4>
        <p>#</p>
        <button class="popUpClose">OK</button>
    </div>
</div>


<!--mine ture-->
<div class="tripsHeadlineWrapper">
    <h2>Mine ture</h2>
    <p><a href="#">Vis alle (6)</a></p>
</div>

<div class="accordion">
    <button type="button" class="accordionButtonTrips">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/chevron-down-solid.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <button class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </button>
            <button class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </button>
        </div>
        <button class="cancelTripButton" type="submit">Afmeld tur</button>
    </div>
</div>

<div class="accordion">
    <button type="button" class="accordionButtonTrips">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/chevron-down-solid.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <button class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </button>
            <button class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </button>
        </div>
        <button class="cancelTripButton" type="submit">Afmeld tur</button>
    </div>
</div>

<div class="accordion">
    <button type="button" class="accordionButtonTrips">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/chevron-down-solid.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <button class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </button>
            <button class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </button>
        </div>
        <button class="cancelTripButton" type="submit">Afmeld tur</button>
    </div>
</div>

<hr />

<!--Ledige ture-->
<div class="tripsHeadlineWrapper">
    <h2>Ledige ture </h2>
    <p><a href="#">Vis alle (6)</a></p>
</div>

<div class="accordion">
    <button type="button" class="accordionButtonTrips">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/chevron-down-solid.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <button class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </button>
            <button class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </button>
        </div>
        <button class="registrerTripButton" type="submit">Anmod om tur</button>
    </div>
</div>

<div class="accordion">
    <button type="button" class="accordionButtonTrips">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/chevron-down-solid.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <button class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </button>
            <button class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </button>
        </div>
        <button class="registrerTripButton" type="submit">Anmod om tur</button>
    </div>
</div>


<div class="accordion">
    <button type="button" class="accordionButtonTrips">
        <div class="gridItemDate">
            <div class="itemDateDay">
                <p class="itemDateDescription">5.</p>
            </div>
            <div class="itemDateMonth">
                <p class="itemDateDescription">Nov</p>
            </div>
        </div>
        <div class="gridItemTextA">
            <p>Odense - Greve</p>
        </div>

        <div class="gridItemDownArrow">
            <img class="descriptionIcon" src="~/icons/chevron-down-solid.svg" alt="dropDownArrow" />
        </div>
        <div class="gridItemTextB">
            <p>12:00 - 22:00</p>
        </div>
    </button>

    <div class="expanderContent">
        <div class="tripInformation">
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Fra:</li>
                <li class="tripInformationListeditem">Til:</li>
            </ul>
            <ul class="tripInformationList">
                <li class="tripInformationListeditem">Kontaktperson:</li>
                <li class="tripInformationListeditem">Afdeling:</li>
            </ul>
        </div>
        <div class="tripCallandMailbutton">
            <button class="tripCall">
                <img class="NavIcon" src="~/icons/phone-alt-solid.svg" alt="phone" />
                <p>Ring</p>
            </button>
            <button class="tripMail">
                <img class="NavIcon" src="~/icons/envelope-solid.svg" alt="email" />
                <p>Mail</p>
            </button>
        </div>
        <button class="registrerTripButton" type="submit">Anmod om tur</button>
    </div>
</div>