@{
    ViewData["Title"] = "Trips";
    ViewData["Headline"] = "Dine Ture";

}
<h4>Kommende ture</h4>
<a class="showMore" href="#">vis mere...</a>
<div class="roundedBox">
    <button class="bigButton position">
        <div class="date">
            <h6>5</h6>
            <p>Nov</p>
        </div>
        <div class="tripInfo">
            <ul>
                <li>Fra:</li>
                <li>Odense DK</li>
                <li>Start:</li>
                <li>12:00</li>
            </ul>
            <ul>
                <li>Til:</li>
                <li>Greve DK</li>
                <li>Ankommst:</li>
                <li>22:00</li>
            </ul>

        </div>
    </button>
</div>
<div class="roundedBox">
    <button class="bigButton position">
        <div class="date">
            <h6>20</h6>
            <p>Nov</p>
        </div>
        <div class="tripInfo">
            <ul>
                <li>Fra:</li>
                <li>Odense DK</li>
                <li>Start:</li>
                <li>12:00</li>
            </ul>
            <ul>
                <li>Til:</li>
                <li>Greve DK</li>
                <li>Ankommst:</li>
                <li>22:00</li>
            </ul>

        </div>
    </button>
</div>
        <h4>Ledige ture</h4>
        <a class="showMore" href="#">vis mere...</a>
        <div class="roundedBox">
            <button class="bigButton position">
                <div class="date">
                    <h6>12</h6>
                    <p>Dez</p>
                </div>
                <div class="tripInfo">
                    <ul>
                        <li>Fra:</li>
                        <li>Odense DK</li>
                        <li>Start:</li>
                        <li>12:00</li>
                    </ul>
                    <ul>
                        <li>Til:</li>
                        <li>Greve DK</li>
                        <li>Ankommst:</li>
                        <li>22:00</li>
                    </ul>

                </div>
            </button>
        </div>
            <div class="roundedBox">
                <button class="bigButton position">
                    <div class="date">
                        <h6>23</h6>
                        <p>Dez</p>
                    </div>
                    <div class="tripInfo">
                        <ul>
                            <li>Fra:</li>
                            <li>Odense DK</li>
                            <li>Start:</li>
                            <li>12:00</li>
                        </ul>
                        <ul>
                            <li>Til:</li>
                            <li>Greve DK</li>
                            <li>Ankommst:</li>
                            <li>22:00</li>
                        </ul>

                    </div>
                </button>
               
            </div>

