* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #eee;
}

:root {
    --brightGreen: #2fa84f;
    --mainGreen: #1b8416;
    --mainRed: #d23600;
    --blackText: #212529;
    --white: #fff;
    --grey: #555;
    --mediumGrey: #B4B2B2;
    --lightGrey: #ccc;
    --shades: #e8f2e7;
    --mainGreenShade: rgba(27,132,22,.2);
    --darkGreen: #005140;
}


.wrapper {
    width: 100vw;
    height: auto;
    padding: 2% 15% 2%;
}

form{
}

img {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 15% 0;
}


.form-group{
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}

.form-group-row {
    display: flex;
    flex-direction: row;
    padding-top: 20%;
    justify-content: space-between;
    align-self: flex-end;
}

label {
    font-weight: 900;
    padding: 1% 0;
    font-size: 1.3rem;
}

input{
    border-radius: 4px;
    padding: 2%;
    font-size: 1.2rem;
    font-weight: 700;
}

#Button {
    border-radius: 5px;
    width: 100%;
    padding: 3%;
    font-size: 1.3rem;
    background-color: var(--mainGreen);
    color: white;
}

#registrerButton {
    border-radius: 5px;
    width: auto;
    padding: 3% 5%;
    font-size: 1.3rem;
    background-color: var(--darkGreen);
    color: white;
}

#helpButton {
    border-radius: 5px;
    width: auto;
    padding: 3% 5%;
    font-size: 1.1rem;
    background-color: var(--lightGrey);
    font-weight: 700;
}




