* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #eee;
    background-color: #F5F5F5;
}

:root {
    --brightGreen: #2fa84f;
    --mainGreen: #1b8416;
    --mainRed: #d23600;
    --blackText: #212529;
    --white: #fff;
    --grey: #555;
    --lightGrey: #F3F3F3;
    --shades: #e8f2e7;
    --mainGreenShade: rgba(27,132,22,.2);
    --darkgreen: #005140;
}

/*Header*/

header {
    width: 100vw;
    height: auto;
    padding: 8% 10% 2%;
}


.wrapper {
    width: 100vw;
    height: auto;
    padding: 2% 10% 2%;
}


/* buttons*/

.bigButton {
    border-radius: 10px;
    width: 100%;
    padding: 4%;
}


/*Footer/navigation*/

nav {
    width: 100%;
    border-top: solid #005140 0.5px;
    height: auto;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    justify-content: space-around;
    text-align: center;
    list-style: none;
    width: 100%;
}

.NavButton {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    padding: 5px;
    color: #77A198;
    background-color: var(--white);
}

.NavIcon{
    width: 32px;
    height: 32px;
    padding: 10px;
    }

/*boxes*/

.roundedBox {
    border-radius: 10px;
    height: auto;
    padding: 2%;
    margin: 5% 0;
    background-color: var(--white);
    filter: drop-shadow(0 1mm 0.5mm #ccc);
}


.descriptionWrapper{
    display: flex;
    justify-content: flex-start;
}

.roundedBoxDescription {
    padding: 2%;
    color: var(--blackText);
}

.summaryBox {
    border-radius: 10px;
    height: auto;
    padding: 5%;
    margin: 2% 0;
    background-color: var(--lightGrey);
}


.descriptionIcon {
    width: 22px;
    height: 22px;
    padding: 5px;
    align-self: center;
}

/*ja*/