* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #eee;
}

:root {
    --brightGreen: #2fa84f;
    --mainGreen: #1b8416;
    --mainRed: #d23600;
    --blackText: #212529;
    --white: #fff;
    --grey: #555;
    --lightGrey: #ccc;
    --shades: #e8f2e7;
    --mainGreenShade: rgba(27,132,22,.2);
}

.wrapper {
    width: 100vw;
    height: auto;
    padding: 10%;
}

nav {
    width: 100%;
    border-top: solid #005140 0.5px;
    height: auto;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    justify-content: space-around;
    text-align: center;
    list-style: none;
    width: 100%;
}

.NavButton {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    padding: 5px;
    color: #77A198;
}

.NavIcon{
    width: 32px;
    height: 32px;
    padding: 10px;
    fill: var(--brightGreen);
    }

.roundedBox {
    border-radius: 10px;
    padding: 2%;
    margin: 5% 0;
    background-color: lightgrey;
}

.bigButton {

    border-radius: 10px;
    width: 100%;
    padding: 4%;
}