* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    background-color: #F5F5F5;
    font-family: 'Raleway', sans-serif;
}

:root {
    --brightGreen: #2fa84f;
    --mainGreen: #1b8416;
    --mainRed: #d23600;
    --blackText: #212529;
    --white: #fff;
    --grey: #555;
    --lightGrey: #F3F3F3;
    --shades: #e8f2e7;
    --mainGreenShade: rgba(27,132,22,.2);
    --darkgreen: #005140;
}

p {
   font-family: 'Asap', sans-serif;
   font-size: 1.2rem;
}

hr{ 
    margin: 10% 0;
    border-block-color: var(--mainGreenShade)
}


/*Header*/

header {
    width: 100vw;
    height: auto;
    padding: 8% 10% 2%;
}


.wrapper {
    width: 100vw;
    height: auto;
    padding: 2% 10% 2%;
}


/* buttons*/

.bigButton {
    border-radius: 10px;
    width: 100%;
    padding: 4%;
}


/*Footer/navigation*/

.NavigationMenu {
    width: 100%;
    border-top: solid #005140 0.5px;
    background-color: var(--white);
    height: auto;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
}

.NavigationMenuList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.NavigationMenuListItem {
    justify-content: space-around;
    text-align: center;
    list-style: none;
    width: 100%;
}

.NavButtonIndex, .NavButtonTrips, .NavButtonAvailability, .NavButtonMessages, .NavButtonProfile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    padding: 5px;
    color: #77A198;
    background-color: var(--white);
}

.NavIcon{
    width: 32px;
    height: 32px;
    padding: 10px;
    }

/*boxes*/

.accordion{
    border-radius: 10px;
    height: auto;
    padding: 2%;
    margin: 5% 0;
    background-color: var(--white);
    filter: drop-shadow(0 1mm 0.5mm #ccc);
    display: block;
}

    .accordion:last-child{
        margin-bottom: 30%;
    }

    .descriptionWrapper {
        display: flex;
        justify-content: flex-start;
    }

.accordionDescription {
    padding: 2%;
    color: var(--blackText);
}

/*grid items*/
.gridItemDate {
    grid-area: date;
    background-color: var(--white);
    border-radius: 10px;
    height: 75px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.itemDateDescription{
    padding: 1%;
    text-align: center;
    color: var(--darkgreen);
    font-size: 1.2rem;
    font-weight: 700;
}

/*/////////////////////////////
    AVAILABILITY / CALENDAR
/////////////////////////////*/

#calendar {
    font-family:"Segoe UI";
}

#calendar-wrapper {
    
}

#blackBG {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0,0,0,0.8);
    display:none;
    z-index:9;
}

#calendar-wrapper .popup {
    position: absolute;
    background-color: white;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 10;
    margin:10%;
    padding:5%;
    display:none;
}

#calendar-wrapper .popup input {
    font-size:16px;
    font-family:Arial;
}

#day-timeslots-edit, #day-timeslots {
    display:none;
}

/* The switch - the box around the slider */
#calendar-wrapper .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
#calendar-wrapper .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
#calendar-wrapper .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#calendar-wrapper .slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#calendar-wrapper #id-edit-event {
    display:none;
}

#calendar-wrapper input:checked + .slider {
    background-color: #2196F3;
}

#calendar-wrapper input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

#calendar-wrapper input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


#calendar-wrapper .popup input[type=date],
#calendar-wrapper .popup input[type=datetime-local] {
    width:300px;
    max-width:100%;
    box-sizing: border-box;
}

#calendar-wrapper .popup input[type=radio] {
    margin-right: 5px;
}


#calendar-wrapper .button-group {
    margin-top:5%;
    display:flex;
    justify-content:flex-end;
}

#calendar-wrapper label {
    padding:10px 0 0;
    display:block;
}
#calendar-wrapper .radio-group {
    padding:10px 0 0;

}

#calendar-wrapper .radio-group label {
    display:inline-block;
    width:100%;
    padding:5px 0;
}


#calendar-wrapper .button-group button {
    padding:10px 20px;
    margin-left:10px;
    font-size:16px;
}

button.save {
    border: 0;
    background: none;
    box-shadow: none;
    color: white;
    border-radius: 5px;
    background-color: var(--brightGreen);
}

button.cancel {
    border: 0;
    background: none;
    box-shadow: none;
    color: white;
    border-radius: 5px;
    background-color: #888;
}

button.delete {
    border: 0;
    background: none;
    box-shadow: none;
    color: white;
    border-radius: 5px;
    background-color: var(--mainRed);
}

#calendar {
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

#calendar table.fc-scrollgrid {
    max-height:101%;
    height:101%;
    background-color:white;
    border:none;
    border-radius:10px!important;
    box-sizing:border-box;
    padding:10px;
    filter:drop-shadow(0 1mm 0.5mm #ccc);
    font-size:14px;
}

#calendar .fc-toolbar {
    flex-wrap:wrap;
}

#calendar .available {
    color:white;
    background-color: #00904A;
}

#calendar .unavailable {
    color:white;
    background-color: #DC2F34;
}

.calendar-tooltip {
    position: relative;
    bottom:0;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    font-size:1.2em;
}

.calendar-tooltip {
    border-top:1px solid var(--lightGrey);
    margin: 5% 0;
    padding: 5% 0;
}

.calendar-tooltip .available::before {
    content:"";
    display:inline-block;
    height:10px;
    width:10px;
    background-color:var(--mainGreen);
}

.calendar-tooltip .unavailable::before {
    content:"";
    display:inline-block;
    height:10px;
    width:10px;
    background-color:var(--mainRed);
}



/*/////////////////////////////
    SIGN IN & SIGN UP
/////////////////////////////*/
.gridItemTextA {
    grid-area: textA;
    align-self: center;
    justify-self: start
}

.gridItemTextB {
    grid-area: textB;
    align-self: center;
    justify-self: start
}

.gridItemRequestStatus {
    grid-area: requestStatus;
    align-self: center;
    justify-self: end;
    text-transform: uppercase;
    font-weight: 900;
}


.gridItemDownArrow {
    grid-area: downArrow;
    align-self: center;
    justify-self: end;
    
}


.gridItemMessageHeadline{
    grid-area: messageHeadline;
    align-self: center;
    font-weight: 900;
    font-size: 1.3rem;
}

.gridItemCities{
    grid-area: cities;
    align-self: center;
}

.accordionButtonWithStatusOverview {
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border-style: none;
    width: auto;
    height: auto;
    padding: 4%;
    margin-top: 4%;
    background-color: var(--lightGrey);
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-areas:
        "date textA requestStatus downArrow"
        "date textB requestStatus downArrow";
}

.accordionButtonOverview {
    border-radius: 10px;
    border-style: none;
    width: 100%;
    height: auto;
    padding: 4%;
    margin-top: 4%;
    background-color: var(--lightGrey);
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 2fr 10fr 1fr;
    grid-template-areas:
        "date textA downArrow"
        "date textB downArrow";
}

.accordionButtonOverviewTrips {
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border-style: none;
    width: auto;
    height: auto;
    padding: 4%;
    margin-top: 4%;
    background-color: var(--lightGrey);
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 2fr 10fr 1fr;
    grid-template-areas:
        "date textA downArrow"
        "date textB downArrow";
}


.accordionButtonTrips {
    border-radius: 10px;
    border-style: none;
    width: 100%;
    height: auto;
    padding: 4%;
    background-color: var(--lightGrey);
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 2fr 10fr 1fr;
    grid-template-areas:
        "date textA downArrow"
        "date textB downArrow";
}

/*expander*/

.expanderButton{
    border: none;
    outline: none;
    display: block;
    transition: 0.2s;
    cursor: pointer;
    width: 100%;
}

.expanderButton--active {
    border: none;
    outline: none;
    display: block;
    transition: 0.2s;
    cursor: pointer;
    width: 100%;
}
.expanderContent{
   overflow: hidden;
   max-height: 0;
   border-radius: 0 0 10px 10px;
   width: auto;
   height: auto;
   transition: max-height 0.2s;
   background-color: var(--lightGrey);
   padding: 0 4%
 }

.tripInformationList{
    list-style: none;
    padding: 2% 0;
 
}

.tripInformationListeditem{
    padding: 1% 0;
    font-weight: 700;
}

.tripCallandMailbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 0;
}

.tripCall{
    background-color: transparent;
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
}

.tripMail {
    background-color: transparent;
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10%;
}

.cancelTripButton {
    width: 100%;
    background-color: var(--mainRed);
    border-style: none;
    border-radius: 10px;
    height: 45px;
    margin: 5% 0;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--white);
    cursor: pointer
}


.registrerTripButton {
    width: 100%;
    background-color: var(--mainGreen);
    border-style: none;
    border-radius: 10px;
    height: 45px;
    margin: 5% 0;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--white);
    cursor: pointer;
}


/*overlay trips*/

.popUpTripRequest, .popUpCancelTrip, .popUpMail, .popUpCall, .popUpMessage {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
}

.popUpBox {
    width: 60%;
    height: auto;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    padding: 10% 10%;
}

    .popUpBox h4 {
        font-weight: 700;
        font-size: 1.5rem;
        padding: 6% 0;
    }

.helpNo {
    display: inline-block;
    color: var(--mainGreen);
    border-bottom: 1px solid var(--mainGreen);
}

.popUpBox button {
    padding: 5%;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: var(--mainGreen);
    float: right;
    margin-top: 5%;
    border-radius: 5px;
}




/*Messages*/
.messageBox {
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 4%;
    display: grid;
    grid-gap: 5px;
    grid-column-gap: 10px;
    grid-template-columns: 3fr 0fr;
    grid-template-areas:
        "messageHeadline requestStatus "
        "cities requestStatus ";
}


.descriptionIcon {
    width: 22px;
    height: 22px;
    padding: 5px;
    align-self: center;
}

/*Trips*/

.tripsHeadlineWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
}


/*////////////////////////
    sven
////////////////////////*/

h4 {
    display: inline-block;
}

.position {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}

.showMore {
    display: inline-block;
    position: absolute;
    right: 0;
}

.date {
    grid-column: 1/3;
    display: block;
    border: solid 1px var(--mainGreen);
    border-radius: 10px;
    padding: 2%;
    text-align: center;
}

    .date h6 {
        font-size: 2rem;
    }

    .date p {
        font-size: 1rem;
        font-weight: 700;
    }

.tripInfo {
    grid-column: 3/10;
    padding: 7% 2%;
    text-align: left;
}

    .tripInfo ul li {
        font-size: 0.8rem;
        font-weight: 700;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none;
        padding: 5px;
        color: black;
    }

    .tripInfo ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


/*////////////////////////
    Settings
////////////////////////*/



.notifacionsH {
    padding: 2% 0;
    font-size: 1.3rem;
}


.notficationsOnOff {
    background-color: var(--lightGrey);
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 3fr 0f;
    grid-template-areas:
        "p switch";
}

.logOutButton {
    width: 100%;
    background-color: var(--mainRed);
    border-style: none;
    border-radius: 10px;
    height: 45px;
    margin: 5% 0;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--white);
    cursor: pointer;
   
    position: absolute;
    bottom: -5%;
}


/*slider on notifications*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 5%;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        margin-bottom: 5%;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;    
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

.signupCheckedSlider:checked + .slider {
    background-color: var(--mainGreen);
}

.signupCheckedSlider:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.signupCheckedSlider:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

