* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #eee;
    background-color: #F5F5F5;
}

:root {
    --brightGreen: #2fa84f;
    --mainGreen: #1b8416;
    --mainRed: #d23600;
    --blackText: #212529;
    --white: #fff;
    --grey: #555;
    --lightGrey: #F3F3F3;
    --shades: #e8f2e7;
    --mainGreenShade: rgba(27,132,22,.2);
    --darkgreen: #005140;
}

/*Header*/

header {
    width: 100vw;
    height: auto;
    padding: 8% 10% 2%;
}


.wrapper {
    width: 100vw;
    height: auto;
    padding: 2% 10% 2%;
}


/* buttons*/

.bigButton {
    border-radius: 10px;
    width: 100%;
    padding: 4%;
}


/*Footer/navigation*/

.NavigationMenu {
    width: 100%;
    border-top: solid #005140 0.5px;
    height: auto;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
}

.NavigationMenuList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.NavigationMenuListItem {
    justify-content: space-around;
    text-align: center;
    list-style: none;
    width: 100%;
}

.NavButton {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    padding: 5px;
    color: #77A198;
    background-color: var(--white);
}

.NavIcon{
    width: 32px;
    height: 32px;
    padding: 10px;
    }

/*boxes*/

.roundedBox {
    border-radius: 10px;
    height: auto;
    padding: 2%;
    margin: 5% 0;
    background-color: var(--white);
    filter: drop-shadow(0 1mm 0.5mm #ccc);
}


.descriptionWrapper{
    display: flex;
    justify-content: flex-start;
}

.roundedBoxDescription {
    padding: 2%;
    color: var(--blackText);
}

.summaryBox {
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 4%;
    background-color: var(--lightGrey);
}

.descriptionIcon {
    width: 22px;
    height: 22px;
    padding: 5px;
    align-self: center;
}


/*/////////////////////////////
    SIGN IN & SIGN UP
/////////////////////////////*/


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom:5%;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
        margin-bottom: 5%;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.signUpForm label, .signInForm label {
    display: block;
    font-weight: bold;
    margin: 5% 0 2% 0;
}
.signUpForm input, .signUpForm select, .signInForm input {
    width: 100%;
    padding: 2% 0;
    border-radius: 5px;
    border: 1px solid var(--darkGreen);
    margin-bottom: 5%;
}

.signUpForm p{
    margin-bottom:2%;
}
.signUpForm button, .signInForm .loginButton{
    background-color: var(--mainGreen);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
.signInForm{
    margin-bottom:10%;
}
.loginButton{
   margin-top:5%;
}

.bigLogo{
    display:block;
    margin:0 auto;
    margin-bottom:30%;
}
.smallButton{
    padding:3% 7%;
    border-radius:5px;
    border:none;
    text-decoration:none;
    color:white;
    font-size:1em;
}
.newUserButton{
    background-color:var(--darkGreen);
}
.helpButton {
    background-color:var(--mediumGrey);
    float:right; /*fix next time*/
    margin-top:-10px;
}

/*////////////////////////
    sven
////////////////////////*/

h4 {
    display: inline-block;
}

.position {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}

.showMore {
    display: inline-block;
    position: absolute;
    right: 0;
}

.date {
    grid-column: 1/3;
    display: block;
    border: solid 1px var(--mainGreen);
    border-radius: 10px;
    padding: 2%;
    text-align: center;
}

    .date h6 {
        font-size: 2rem;
    }

    .date p {
        font-size: 1rem;
        font-weight: 700;
    }

.tripInfo {
    grid-column: 3/10;
    padding: 7% 2%;
    text-align: left;
}

    .tripInfo ul li {
        font-size: 0.8rem;
        font-weight: 700;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none;
        padding: 5 px;
        color: black;
    }

    .tripInfo ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
