@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer>
    <nav class="NavigationMenu">
        <ul class="NavigationMenuList">
            <li class="NavigationMenuListItem"><a class="NavButtonIndex" href="/Home/Index"> <img class="NavIcon" src="~/icons/house-solid.svg" />Overblik</a></li>
            <li class="NavigationMenuListItem"><a class="NavButtonTrips" href="/Home/Trips"> <img class="NavIcon" src="~/icons/truck-solid.svg" /> Ture</a></li>
            <li class="NavigationMenuListItem"><a class="NavButtonAvailability" href="/Home/Availability"> <img class="NavIcon" src="~/icons/calendar-days-solid.svg" /> Rådighed</a></li>
            <li class="NavigationMenuListItem"><a class="NavButtonMessages" href="/Home/Messages"> <img class="NavIcon" src="~/icons/message-solid.svg" /> Beskeder</a></li>
            <li class="NavigationMenuListItem"><a class="NavButtonProfile" href="/Home/Profile"> <img class="NavIcon" src="~/icons/circle-user-solid.svg" /> Profil</a></li>
        </ul>
    </nav>
</footer>
