@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav>
    <ul>
        <li><a class="NavButton" href="/Home/Index"> <img class ="NavIcon" src="~/icons/house-solid.svg"/>Overblik</a></li>
        <li><a class="NavButton" href="/Home/Trips"> <img class ="NavIcon" src="~/icons/truck-solid.svg"/> Ture</a></li>
        <li><a class="NavButton" href="/Home/Availability"> <img class ="NavIcon" src="~/icons/calendar-days-solid.svg" /> Rådighed</a></li>
        <li><a class="NavButton" href="/Home/Messages"> <img class ="NavIcon" src="~/icons/message-solid.svg"/> Beskeder</a></li>
        <li><a class="NavButton" href="/Home/Profile"> <img class ="NavIcon" src="~/icons/circle-user-solid.svg"/> Profil</a></li>
    </ul>
</nav>



